.hotels_div{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.hotel_img{
    height: 200px;
    width: 300px;
}

.hotel_card{
    margin-left: 10%;
}

.hotel_carousel{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    width: 700px;
}


